/* css/Home.module.css */
.background {
    background: linear-gradient(-45deg, #AC9CDF, #D194BA, #DFA0A6, #E4B898);
    background-size: 300% 300%;
    animation: gradient 3s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  